{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>计数板</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<div style="margin: 0 auto;width: 800px;height: 600px;">
    <h4 style="text-align: center">计数器</h4>
    <br>
    <table class="table table-bordered">
        {#    <thead>#}
        {#    <tr>#}
        {#        <th class="text-center">抖音</th>#}
        {#        <th class="text-center">计数</th>#}
        {#    </tr>#}
        {#    </thead>#}
        <tbody>
        <tr>
            <td class="active text-center">抖音私信</td>
            <td class="success text-center">{{ dmessagecount }}</td>
        </tr>
        <tr>
            <td class="active text-center">抖音评论</td>
            <td class="success text-center">{{ dcommentcount }}</td>
        </tr>
        </tbody>

    </table>

    <table class="table table-bordered">
        {#    <thead>#}
        {#    <tr>#}
        {#        <th class="text-center">快手</th>#}
        {#        <th class="text-center">计数</th>#}
        {#    </tr>#}
        {#    </thead>#}
        <tbody>
        <tr>
            <td class="activeb text-center">快手私信</td>
            <td class="warning text-center">{{ qmessagecount }}</td>
        </tr>
        <tr>
            <td class="active text-center">快手评论</td>
            <td class="warning text-center">{{ qcommentcount }}</td>
        </tr>
        </tbody>

    </table>

    <table class="table table-bordered">
        {#    <thead>#}
        {#    <tr>#}
        {#        <th class="text-center">闺蜜圈</th>#}
        {#        <th class="text-center">计数</th>#}
        {#    </tr>#}
        {#    </thead>#}
        <tbody>
        <tr>
            <td class="activeb text-center">闺蜜私信</td>
            <td class="warning text-center">{{ guimimessagecount }}</td>
        </tr>
        <tr>
            <td class="active text-center">闺蜜评论</td>
            <td class="warning text-center">{{ guimicommentcount }}</td>
        </tr>
        </tbody>

    </table>

    <table class="table table-bordered">
        {#    <thead>#}
        {#    <tr>#}
        {#        <th class="text-center">西瓜视频</th>#}
        {#        <th class="text-center">计数</th>#}
        {#    </tr>#}
        {#    </thead>#}
        <tbody>
        <tr>
            <td class="activeb text-center">私信数量</td>
            <td class="warning text-center">{{ xiguamessagecount }}</td>
        </tr>
        <tr>
            <td class="active text-center">粉丝评论</td>
            <td class="warning text-center">{{ xiguacommentcount }}</td>
        </tr>
        </tbody>

    </table>
</div>
<script src="{% static "js/bootstrap.min.js" %}https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
</body>
</html>